<h2>teams</h2>
<% @teams.each do |team| %>
  <div class="team">
    <p>
      <%= team.name.downcase %>
    </p>
    <ul>
      <% team.members.each do |member| %>
        <li><%= link_to member.name.downcase, "http://www.github.com/" + member.github %></li>
      <% end %>
    </ul>
  </div>
<% end %>
