<h2>teams</h2>
full team list will be presented prior to competition start.
if you want to unregister, let us know on <%= link_to "facebook", "http://www.facebook.com/unihack" %> or <%= link_to "twitter", "http://twitter.com/#!/unihackgbg" %>.
