<h2>teams</h2>
<% @teams.each do |team| %>
  <div class="team">
    <p>
      <%= team.name.downcase %>
      [<%= pluralize team.members.count, "member" %>]
    </p>
    <% team.members.each do |member| %>
      <ul>
        <li><%= member.name.downcase %></li>
        <ul>
          <li><%= link_to "github.com/" + member.github, "http://www.github.com/" + member.github %></li>
        </ul>
      </ul>
    <% end %>
  </div>
<% end %>
