<h2>register</h2>
<p>
  before you register, read the <%= link_to "rules", competition_path %>.
  you need a team to compete, and each team needs 2-4 members.
  when you register below, simply fill in as many members as you need.
  please register before <time>april 18</time>.
</p>
<p>
  got questions? ask on <%= link_to "facebook", "http://www.facebook.com/unihack" %> or <%= link_to "twitter", "http://twitter.com/#!/unihackgbg" %>.
</p>
<%= render 'form' %>
