<h2>competition</h2>
<p>
  The competition begins April 20 at 12:00, at which time the theme will be made available on this website. On the next day (Saturday, April 21), the main event will be held at our venue at Chalmers University of Technology where teams can continue working on their applications.
</p>
<p>
  At 18:00 the competition ends and all teams will then make a short presentation (maximum five minutes) of their idea and the resulting application. After all teams have presented, the judges will convene for a short time to decide on the winners.
</p>
<h2>rules</h2>
<p>
  <ul>
  	<li>Bringing your own snacks and drinks is okay, but there is a strict no alcohol policy. Breaking this rule will lead to immediate disqualification and you will be escorted off the premises.</li>
  	<li>The event is aimed at university students, but everyone at the age of 18 and up are allowed to take part.</li>
	<li>Only team members who are physically present at the main event are eligible for prizes.</li>
  	<li>Using open-source libraries and snippets is fine, as long as the original authors are properly credited.</li>
  </ul>
</p>
<h2>jury</h2>
<p>
  To be decided.
</p>
<h2>judging criteria</h2>
<p>
  The judges will base their decisions on three main criteria:
</p>
<ul>
	<li>Execution (50%)</li>
	<li>Innovation (30%)</li>
	<li>Experience (20%)</li>
</ul>
<p>
  <strong>Execution</strong> evaluates how well the team has implemented the idea into a functional application.
</p>
<p>
  <strong>Innovation</strong> considers the originality of the idea and how it applies to the theme.
</p>
<p>
  <strong>Experience</strong> is a measure of the usability and design of the application.
</p>
<h2>prizes</h2>
<p>
  To be decided.
</p>
