<h2>competition</h2>
<p>
  the competition begins <time>april 20</time> at <time>09:00</time>, at which time the theme will be made available. on the next day, <time>saturday, april 21</time>, the main event will be held at our venue at chalmers where teams can continue working on their applications.
</p>
<p>
  at <time>18:00</time> the competition ends and all teams will then make a short presentation (maximum five minutes) of their idea and the resulting application. after all teams have presented, the judges will convene for a short time to decide on the winners.
</p>
<p>
  your team will be given a <%= link_to "github", "http://www.github.com" %> repo prior to the competition, where you need to put your code.
  presentations should be uploaded to <%= link_to "speakerdeck", "http://speakerdeck.com/" %>. 
  apps should, if possible, be deployed to <%= link_to "heroku", "http://www.heroku.com" %>.
</p>
<h2>rules</h2>
<p>
  <ul>
  	<li>the event is aimed at university students, but everyone at the age of 18 and up are allowed to take part.</li>
    <li>only team members who are physically present at the main event are eligible for prizes.</li>
    <li>using open-source libraries and snippets is fine, as long as the original authors are properly credited.</li>
    <li>bringing your own snacks and drinks is okay, but there is a strict no alcohol policy. breaking this rule will lead to immediate disqualification and you will be escorted off the premises.</li>
  </ul>
</p>
<h2>jury</h2>
<p>
  details to come.
</p>
<h2>judging criteria</h2>
<p>
  the judges will base their decisions on three main criteria:
</p>
<ul>
	<li>innovation (~30%)</li>
  <li>execution (~50%)</li>
	<li>experience (~20%)</li>
</ul>
<p>
  <strong>innovation</strong> considers the originality of the idea and how it applies to the theme.
</p>
<p>
  <strong>execution</strong> evaluates how well the team has implemented the idea into a functional application.
</p>
<p>
  <strong>experience</strong> is a measure of the usability and design of the application.
</p>
<h2>prizes</h2>
<p>
  glory! also, the top three teams will each be awarded <strong>$300</strong> worth of heroku credits and <strong>blessed</strong> github accounts. in addition to that, there'll be plenty of t-shirts and stickers to go around.
</p>
<p>
  * please note that your app needs to be deployed to heroku for your team to be eligible for the heroku price.
</p>
