<h2>what?</h2>
<p>
  unihack is a programming competition for students, focused on web development. 
  it is sponsored by the fine folks at <%= link_to "heroku", "http://www.heroku.com" %>, <%= link_to "github", "http://www.github.com" %> and <%= link_to "chalmers", "http://www.chalmers.se" %>.
  if you're into ruby, python, node.js, clojure, scala or java, this is for you.
</p>
<h2>when?</h2>
<p>
  the main event is scheduled for <date>april 21</date>, but the competition will kick-start one day early, on <date>april 20</date>.
</p>
<h2>where?</h2>
<p>
  we will occupy <a href="#">chalmers campus johanneberg</a>, more specifically, the edit-building, 7th floor.
</p>
<h2>why?</h2>
<p>
  for the glory. oh, and there are <a href="#">prizes</a>.
</p>