<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
</p>
<p>
  Duis aute irure dolor in <a href="#">reprehenderit</a> in voluptate velit esse cillum dolore eu fugiat nulla pariatur:
</p>
<div class="box">
  <form>
    <div class="field">
      <label id="">Team name</label><br />
      <input type="text" />
    </div>
    <div class="team-member">
      <div class="field">
        <label id="">Member name</label><br />
        <input type="text" />
      </div>
      <div class="field">
        <label id="">E-mail</label><br />
        <input type="text" />
      </div>
      <div class="field">
        <label id="">GitHub account</label><br />
        <input type="text" />
      </div>
    </div>
    <div class="team-member">
      <div class="field">
        <label id="">Member name</label><br />
        <input type="text" />
      </div>
      <div class="field">
        <label id="">E-mail</label><br />
        <input type="text" />
      </div>
      <div class="field">
        <label id="">GitHub account</label><br />
        <input type="text" />
      </div>
    </div>
    <!-- <div class="team-member">
      <div class="field">
        <label id="">Member name</label><br />
        <input type="text" />
      </div>
      <div class="field">
        <label id="">E-mail</label><br />
        <input type="text" />
      </div>
      <div class="field">
        <label id="">GitHub account</label><br />
        <input type="text" />
      </div>
    </div> -->
    <div class="actions">
      <input type="submit" value="Sign us up already" />
    </div>
  </form>
</div>