<h2>schedule</h2>
<p>
  
</p>
<h2><date>20 april</date></h2>
<ul>
  <li>08:00 - theme revealed</li>
</ul>
<h2><date>21 april</date></h2>
<ul>
  <li>09:00 - we meet on campus johanneberg</li>
  <li>09:30 - breakfast</li>
  <li>12:00 - lunch</li>
  <li>17:00 - presentations</li>
  <li>18:00 - judges convene</li>
  <li>19:00 - prize ceremony</li>
</ul>
