<h2>schedule</h2>
<p>
  the following schedule is tentative and might be updated as more information becomes available.
</p>
<h2><time>18 april</time></h2>
<ul>
  <li>23:59 - registration closes</li>
</ul>
<h2><time>20 april</time></h2>
<ul>
  <li>09:00 - theme revealed</li>
</ul>
<h2><time>21 april</time></h2>
<ul>
  <li>09:00 - we meet on campus johanneberg</li>
  <li>09:30 - breakfast</li>
  <li>14:00 - pizza</li>
  <li>18:00 - presentations</li>
  <li>19:00 - judges convene</li>
  <li>19:30 - prize ceremony</li>
  <li>20:00 - beer!</li>
</ul>
