$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

@font-face {
  font-family: 'Inconsolata';
  src: url(asset-path('Inconsolata.otf', font));
}

html, body {
  padding: 10px;
  color: $base1;
  background: $base03;
  font-family: 'Inconsolata', 'Consolas', 'Menlo', 'Monaco', 'Courier', monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-transform: lowercase;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $blue;
    background: $base1;
  }
}

.container {
  margin: auto;
  max-width: 500px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

ul {
  position: relative;
  padding-left: 15px;
  list-style: none;
  li {
    padding-left: 20px;
    &:before { 
      position: absolute;
      left: 20px;
      content: "> "; 
    }
  }
}

p {
  padding-left: 20px;
}

time {
  color: $magenta;
}

strong {
  text-decoration: underline;
}

.team {
  margin-bottom: 20px;
  border: 1px solid $base1;
  &.new {
    border: 1px solid $green;
  }
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.closed {
  text-decoration: line-through;
}

.info {
  padding: 10px;
  color: $base03;
  background: $base1;
}

form {
  padding-left: 20px;
  label {
    display: block;
    text-transform: lowercase;
    //&:after { content: "*"; }
  }
  input {
    padding: 5px;
    width: 180px;
    color: $base03;
    font-family: 'Inconsolata', 'Consolas', 'Menlo', 'Monaco', 'Courier', monospace;
    font-size: 12px;
    background: $base1;
    //border: 1px solid $base1;
    border: none;
    outline: none;
  }
  .member {
    float: left;
    width: 200px;
    margin: 10px 10px 0 0;
    padding: 5px 0 5px 5px;
    border-left: 4px solid $base1;
  }
  .actions {
    clear: both;
    padding: 20px 0;
    input {
      background: $green;
    }
  }
  #error_explanation {
    margin-bottom: 20px;
    border-bottom: 4px solid $red;
    h2 {
      padding: 5px 5px 5px 10px;
      font-size: 14px;
      line-height: 20px;
      background-color: $red;
      color: $base2; 
    }
  }
  .field_with_errors {
    input {
      color: $base2;
      background: $red;
    }
  }
}
