$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

html, body {
  padding: 10px;
  color: $base1;
  background: $base03;
  font-family: 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Courier New', 'Courier', monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $blue;
    background: $base1;
  }
}

.container {
  margin: auto;
  max-width: 500px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

ul {
  padding-left: 20px;
  list-style: none;
  li { 
    &:before { content: "> "; }
  }
}

p {
  padding-left: 20px;
}

date {
  color: $magenta;
}

.team {
  margin-bottom: 20px;
  border: 1px solid $base1;
  &.new {
    border: 1px solid $green;
  }
}