<!DOCTYPE html>
<html>
<head>
  <title>Unihack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>Hej!</header>
  <%= yield %>
  <aside>Heroku!</aside>
  <footer>Ha det gött!</footer>
</body>
</html>
