<p>
  <b>Name:</b>
  <%= member.name %>
</p>
<p>
  <b>Email:</b>
  <%= member.email %>
</p>
<p>
  <b>Github:</b>
  <%= member.github %>
</p>
<p>
  <%= link_to 'Destroy Member', [member.team, member],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
<hr/>